/*временные стили*/
.data-form__introduce {
  width: 300px;
}



.data-form__contacts {
  width: 250px;
}

.data-form__bottom {
  width: 200px;
}

.data-form__vizited input {
  width: 120px;
}

/*--------------------------*/
.data-form__opinion-top {
  display: none;
}

.data-form__contacts input[value],
.data-form__introduce input[value],
.data-form__bottom label,
.data-form__vizited label,
.data-form__emotion textarea {
  .title-font();
  font-weight: bold;
  text-transform: none;
}

.data-form__title {
  .title-font();
}
