.info-two {
  .wrapper();
}

.info-two__city {
  background-color: #81b3d2;
  color: #ffffff;
}

.info-two__city-text {
  .text-font();
}

.info-two__city-title,
.info-two__item-title {
  .title-font();
}

.info-two__list {
  background-color: #eeeeee;
}
