.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  flex-grow: 1;
  height: 82px;
}

.page-header__pre-logo {
  display: flex;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  padding-left: 111px;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-width: 768px;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: 1200px;
  }
}
