.video {
  padding-top: 15px;
  padding-bottom: 47px;
  border-top: 1px solid #e5e5e5;
}

.video__title {
  .title-font();
}

.video__sentense {
  .text-font__small();
  width: 280px;
  margin: 0 auto;
  padding-top: 8px;
  margin-bottom: 36px;
}

.video__form {
  min-height: 266px;
}

@media (min-width: @tablet-width) {
  .video {
    border: none;
    padding-top: 0;
    padding-bottom: 39px;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin-top: 66px;
  }

  .video__sentense {
    width: 440px;
    margin: 0 auto;
    padding-top: 0;
  }

  .video__form {
    margin-top: 75px;
    margin-bottom: 0;
  }

  .video__form img {
    height: 500px;
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding-bottom: 0;
  }

  .video__title {
    margin-top: 70px;
  }

  .video__form {
    margin-top: 72px;
    margin-bottom: 101px;
  }

  .video__form img {
    height: 500px;
    width: 800px;
  }
}
